body {
    position: absolute;
    line-height: 1.7;
}

#6036a3
#2A62B9
#6a6ff1
#00b4f1
#0012c6

#logoIcon{
  width: 59px;
  height: 59px;
}
#codepic{
  width: 100%;
  max-width:100%;
max-height:100%;
}

#web{
  color: #0471ba;
}
#croc{
  color: #bdbdbd;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
  width: 100%;
  position: fixed;
top: 0;
z-index: 99;
line-height: 30px;
    padding: 10px 40px;
    background-color: white;

}

/* nav tabs */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #0471ba;
}
/* color of navbar */
.navbar-default .navbar-nav>li>a{
  color: #bdbdbd;

}
/* pulling the menu bar to the right*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  float: right;
  font-size: 14px;
  line-height: 60px;

}
#myNavbar{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-stretch: extra-expanded;
  font-size: 14px;

}

.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}
.navbar-brand{
  /*
  font-family: 'Varela Round', sans-serif;
  font-family: 'Fredoka One', cursive;
  */
margin-top: 10px;

  font-family: 'Lato', sans-serif;

    font-family: 'Droid Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  font-weight:900;
  margin-left: 40px;
  vertical-align: middle;
  padding: 0px;
  padding-top: 5px;
}
#d{
  font-weight: 900;
  font-size: 40px;
}
#w{
  font-weight: 900;
  font-size: 40px;
}
#section1 {
  width: 100%;
  padding-top:50px;
  height:500px;
  background-color: black;

}
.crocMessage{
   text-align: center;
   background-color: transparent;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
  margin-top: 80px;
  color: white;
  font-family: 'Montserrat', sans-serif;

}
.btnMod {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    .mask: transparent;
    border: 6px solid white;
    white-space: nowrap;
    padding: 15px 35px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
}
.btnMod2{
  display: inline-block;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;


  white-space: nowrap;
  padding: 10px 15px 10px 18px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 2px solid white;
  background-color: transparent;
}
.btnMod2:hover{
 font-weight: 500;
  color: black;
    background-color: #fff;
}

#mean{
  /*color: #0471ba;*/
  color: #00b4f1;
}
.startWebsite{
  background-color: transparent;
  margin: 20px;
  border-width: : 6px solid white;
}
.startWebsite:hover{
  background-color: #00b4f1;
  border: 6px solid #00b4f1;
}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #fff;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}




/*footer*/





/* coupon */
.coupon{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;


}
.five{
  float: left;
}

.custom{
  border: 1px solid white;
  margin: 10px;
}
/*section3*/
.box{

  text-align: center;

  padding: 15px;
}

.faIcon{
  border: 2px solid white;
  border-radius: 1800Px;
  font-size: 40px;
  padding: 20px;
  margin: 20px;
  color: whitesmoke;
}

.boxinfo{
  text-align: left;
}








/* footer */



.footer-copyright {
    float: left;
    position: relative;
    width: 100%;
    background: black;
    padding: 66px 30px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    border-top: 1px solid #D8DADC;
    color: #bdbdbd;
}
p.copyright a:hover {
    color: #0471ba;
  }
  a{
    color: #bdbdbd;
  }
  a:focus, a:hover {
      text-decoration: none;
    }
    .copyright-bullet{

    }
    .copyright-comma{

    }
    .socialmedia{
      border: 1px solid #bdbdbd;
      height: 50px;
      width: 250px;
      width: 50%;
    margin: 0 auto;
    }
    #back-to-top:hover {
    background: blue !important;
    -webkit-transition: background 0.215s ease-in-out 0s;
    transition: background 0.215s ease-in-out 0s;
}
#orange{
  float: right;
  height: 60px;
  width: 60px;
  background-color: #00b4f1;
  position: fixed;
  right: 0px;
  bottom: 0px;

}
.fa-chevron-up{
  font-size: 30px;
  padding-left: 15px;
  padding-top: 12px;
  position: relative;
  z-index: 1000;
  color:white;

}

/* end of footer */

/* beginning of top section */
#topbox{
  width: 100%;
  border: 1px solid whitesmoke;
  margin-top: 200px;
  margin-bottom: 15px;

}
#topbox2{
  width: 100%;
  border: 1px solid black;
  margin-top: 15px;


}
#topbox3{
  width: 100%;
  border: 1px solid black;
  margin-top: 15px;
  height: 500px;


}
.h1{
font-family: Montserrat;
font-size: 32px;
font-weight: ;
line-height: 48px;
color: white;
}
.boxlogo{

  height: 200px;
  border: 1px solid black;
  cursor: pointer;
  border: 15px solid #bdbdbd;
}
.boxlogo:hover{
  background-color: #00b4f1;
}


.contactAttachTop{
background-attachment: fixed;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../images/brick2.png);
padding-top: 320px;
padding-bottom: 320px;
position: relative;

}
.mask {

    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    position: relative;
    background-color: rgba(4,0,0,1.8);




  }




  /* end of top section */
